# Ignore node_modules (dependency folder)
node_modules/

# Ignore build output (Next.js, React, etc.)
.next/
out/
build/

# Ignore coverage reports
/coverage/

# Ignore environment files
.env*.local

# Ignore operating system files (e.g., MacOS-specific files)
.DS_Store

# Ignore debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore TypeScript build info
*.tsbuildinfo

# Ignore Next.js environment file
next-env.d.ts
